*.class
Android workspqce/AdtApp/bin/classes.dex
*.class
*.class
Android workspqce/AdtApp/bin/classes/com/example/adtapp/R$string.class
*.class
Android workspqce/AdtApp/bin/classes.dex
*.ap_
*.class
*.apk
*.class
*.class